@mixin flex ($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin response($screensize) {
    @if $screensize == 'l' {
        @media screen and (max-width: 1024px) {
            @content;
        }
    } @else if $screensize == 'md' {
        @media screen and (max-width: 768px) {
            @content;
        }
    } @else if $screensize == 'sm' {
        @media screen and (max-width: 425px) {
            @content;
        }
    }
}